.content
  .content-flex
    %checkout-title CHECKOUT
    %ul.nav.nav-tabs
      %li
        %a(href= "address")  Address
      %li
        %a(href= "delivery") Delivery
      %li
        %a(href= "payment")  Payment
      %li.active
        %a(href= "confirm")  Confirm
      %li
        %a(href= "complete") Complete