- if notice
  .notice.alert-warning(role="alert")
    = notice
- if alert
  .alert.alert-danger(role="alert")
    - if alert.is_a?(Array)
      - alert.each do |message|
        = content_tag(:ul) do
          = content_tag(:li, message)
    - else
      = alert